<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update</title>
</head>
<body>
<form th:method="POST" th:action="@{/edit}" th:object="${user}">
  <label for="id">Enter id</label>
  <input readonly type="number" th:field="*{id}" id="id">
  <br/>
  <label for="name">Enter name</label>
  <input type="text" th:field="*{name}" id="name">
  <br/>
  <label for="last_name">Enter Lastname:</label>
  <input type="text" th:field="*{last_name}" id="last_name">
  <br/>
  <label for="email">Enter Email:</label>
  <input type="text" th:field="*{email}" id="email">
  <br/>
  <label for="age">Enter age:</label>
  <input type="text" th:field="*{age}" id="age">
  <br/>
  <input type="submit" value="Update">
</form>
</body>
</html>